*.o
*.la
*.lo
.deps
.libs
m4
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.cache
config.guess
config.h.in
config.log
config.status
config.sub
configure
depcomp
doc
gale-config
gale-install
include/gale/config.h
include/gale/stamp-h*
install-sh
liboop/*.pc
liboop/test-oop
liboop/m4
libtool
ltconfig
ltmain.sh
missing

# binaries:
gdomain/gdomain
gsend/gsend
gsub/gsub
kutils/gkgen
kutils/gkinfo
kutils/gksign
libgale/crypto_test
libgale/key_test
server/galed
