CC = gcc
CFLAGS = $(WARNINGS) -Werror -g
YACC = bison -y

-include $(TOP)/defs
-include $(TOP)/defs.$(HOST)
-include $(TOP)/defs.$(LAB)
-include $(TOP)/defs.$(ARCH)

ifndef GALE_VERSION
GALE_VERSION := $(shell cat $(TOP)/version)
endif

INCLUDES = -I$(TOP)/include $(RSAREF_INC) $(ZEPHYR_INC) $(DB_INC) $(CGIC_INC)
DEFINES = -DSYS_DIR=\"$(SYS_DIR)\" -DGALE_VERSION=\"$(GALE_VERSION)\" -DSTDC_HEADERS

WARNINGS = -W -Wimplicit -Wreturn-type -Wunused -Wswitch -Wtrigraphs -Wformat \
	-Wchar-subscripts -Wparentheses

CPPFLAGS = $(INCLUDES) $(DEFINES)
LDLIBS = -L$(TOP)/lib -lgale $(RSAREF_LIB) $(ZEPHYR_LIB) $(DB_LIB) $(CGIC_LIB)

all::
	@$(MAKE) --no-print-directory subdirs TARGET=all
all:: $(BIN_TARGETS) $(LIB_TARGETS)

install::
	@$(MAKE) --no-print-directory subdirs TARGET=install
install:: \
	$(addprefix $(BIN_DIR)/,$(BIN_TARGETS)) \
	$(addprefix $(LIB_DIR)/,$(LIB_TARGETS)) \
	$(addprefix $(INC_DIR)/,$(HEADERS))

clean::
	@echo rm: object files, executables, and libraries.
	@$(RM) *.o core $(BIN_TARGETS) $(LIB_TARGETS)
	@$(MAKE) --no-print-directory subdirs TARGET=clean

subdirs:
	@for sub in $(SUBDIRS) "" ; do [ -z "$$sub" ] || $(MAKE) -C $$sub $(TARGET) || exit 1 ; done

%.o: %.c
	@echo $^ '->' $@
	@$(CC) $(CFLAGS) $(CPPFLAGS) -c $*.c -o $@

%: %.o
	@echo $^ '->' $@
	@$(CC) $(LDFLAGS) $^ -o $@ $(LDLIBS)

%: %.c
	@echo $^ '->' $@
	@$(CC) $(CFLAGS) $(CPPFLAGS) $*.c -o $@ $(LDFLAGS) $(LDLIBS)

%.a: %.o
	@echo $^ '->' $@
	@ar ru $@ $^
	@ranlib $@

$(BIN_DIR)/%: % mkdir/$(BIN_DIR)
	@echo $* '->' $(BIN_DIR)
	@[ ! -x $@ ] || mv $@ $@.tmp.$$$$
	@cp $* $(BIN_DIR)/$*

$(LIB_DIR)/%.a: %.a mkdir/$(LIB_DIR)
	@echo $*.a '->' $(LIB_DIR)
	@cp $*.a $(LIB_DIR)/$*.a

$(INC_DIR)/%.h: %.h mkdir/$(INC_DIR)
	@echo $*.h '->' $(INC_DIR)
	@cp $*.h $(INC_DIR)/$*.h

mkdir/%:
	@[ -d $* ] || echo mkdir $* && mkdir -p $*
